body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: rgb(149,244,245);
  background: linear-gradient(158deg, rgba(149,244,245,1) 0%, rgb(252, 239, 118) 100%);
  height: 1vh;
  margin: 0%;
}
.body {
  display: grid;
}

.pageHeading {
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
}
.topper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 0;
  width: 100%;
  background-color: rgb(236, 246, 248);
  padding: 10px;
  border-bottom: 1px solid black;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
  margin-bottom: 20px;
}
#library-count{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  border: 2px solid black;
  border-radius: 10px;
  justify-self: center;
  padding: 10px;
  background-color: white;
}

#bookGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  width: 90vw;
  align-self: center;
  grid-auto-flow: row;
  justify-self: center;
}

#empty {
  display: block;
  position: fixed;
  align-self: center;
  justify-self: center;
}

.bookCard {
  background-color: aquamarine;
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px;
  display: grid;
  align-items: center;
  gap: 3px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.haveRead {
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.readBox {
  height: 1rem;
  align-self: center;
  justify-self: start;
}


.card-button {
  grid-column: 1 / span 2;
  background-color: coral;
  border-radius: 10px;
  margin: 15px;
}
.addBookbtn{
  display: grid;
  width: 100vw;
}
.openForm {
  padding: 15px;
  background-color: coral;
  border-radius: 10px;
  margin: 15px;
  width: 25vw;
  justify-self: center;
}

.popContain {
  height: 100%;
  width: 100%;
  background-color: black;
  position: sticky;
  bottom: 0%;
}

#addBook {
  position: sticky;
  left: 33%;
  display: none;
  width: 34%;  
  background-color: aqua;
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px;
  bottom: 25%;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
}


#bookForm {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 20px;
  column-gap: 10px;
  margin-bottom: 10px;
}

.formButtons {
  align-self: center;
  background-color: black;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  padding: 3px;
  
}

.buttons {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

#user-container #user-pic {
  top: -3px;
  display: grid;
  
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 40px;
  border-radius: 20px;
  justify-self: end;
}

#image-form #submitImage {
  width: auto;
  padding: 0 6px 0 1px;
  min-width: 0;
}

#user-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-self: center;
  align-self: center;
  justify-items: center;
  padding-right: 2rem;
}
.sign-inBtn {
  background-color: rgba(149,244,245,1);
  border-radius: 8px;
  padding: 2%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  align-self: center;
}
#sign-in{
  grid-row: 1 / span 2;
}
.userLeft {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}
.material-icons {
  font-size: 36px;
  top: 8px;
  position: relative;
}
.mdl-layout__header-row {
  padding: 0;
  margin: 0 auto;
}
.mdl-card__supporting-text {
  width: auto;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
}


@media only screen and (max-width: 600px) {

  .pageHeading {
    font-size: 3vh;
  }
  .topper{
    padding: 0%;
    align-items: center;
    justify-items: center;
    height: 15vh;
  }
  #library-count{
    height: fit-content;
    padding: 0%;
    padding-left: 2vw;
    display: grid;
    gap: 0;
    border: 2px solid black;
    border-radius: 10px;
    justify-self: center;
    background-color: white;
    align-self: center;
    grid-template-columns: 3fr 1fr;
    
  }
  .count-p {
    font-size: 1.5vh;
    align-self: center;
  }
  #total-books {
    justify-self: center;
  }
  #total-read {
    justify-self: center;
  }

  #user-container{
    padding-right: 0;
    align-items: center;
    margin-right: 2vw;
    font-size: 1.2vh;
  }
  .userLeft {
    font-size: 1.2vh;
    align-content: center;
  }
  .sign-inBtn{
    font-size: 1.5vh;
    height: fit-content;
    width: fit-content;
    padding: 1vw;
  }
  #addBook {
    width: fit-content;
  }
  .bookCard{
    width: 80%;
    align-self: center;
  }
  #bookGrid{
    align-self: center;
    justify-self: center;
  }
}